* {
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.e-login_2 {
    position: absolute;
    /* margin: 20vh 30vw; */
    /* background-color: #13232f; */
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
    box-sizing: border-box;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #434343 0%, #13232f 100%);
}

.login-form_2 {
    height: 60vh;
    width: 40vw;
    /* background-image: url('./Images/back.jpg'); */
    /* background-color: #13232f; */
    background-image: linear-gradient(to right,#13232f  0%,  #434343 100%);
    /* background-color: black; */
    position: relative;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(188, 188, 192);
    border-width: 2px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0% 2%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-button_1 {
    position: relative;
    outline: none;
    border: none;
    margin: 0% 3%;
    height: 60%;
    width: 13%;
    font-size: 100%;
    border-style: solid;
    border-color: rgb(188, 188, 192);
    border-width: 1px;
    color: rgb(188, 188, 192);
    border-radius: 5rem;
    transition: opacity 0.5s ease-in;
    background-color: #13232f;
}

.Button {
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.Buttons1_2 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.submit-button_2 {
    width: 18%;
    height: 60%;
    background-color: #13232f;
    outline: none;
    font-size: 120%;
    border-style: solid;
    transition: opacity 0.5s ease-in;
    border-color: rgb(188, 188, 192);
    border-width: 1px;
    color: rgb(188, 188, 192);
    border-radius: 5rem;
    /* animation: ease-in 1s; */
}

::placeholder {
    color: rgb(188, 188, 192);
}

.submit-button_2:hover {
    color: #13232f;
    background-color: rgb(188, 188, 192);
    border-color: #13232f;
}

.back-button_2:hover {
    color: #13232f;
    background-color: rgb(188, 188, 192);
    border-color: #13232f;
}

.back-button_1 img {
    object-fit: contain;
    height: 80%;
    width: 80%;
}

.reg-con_2 {
    height: 100%;
    width: 100%;
    z-index: 1;
    /* left: 0%; */
    top: 0%;
    opacity: 1;
    position: relative;
    /* padding: 0% 10%; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-in 0.5s;
}

.main-container_2 {
    height: 65%;
    width: 100%
}

.register_2 {
    text-align: center;
    display: flex;
    font-size: 250%;
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 15%;
    width: 100%;
}

.content-1_2 {
    position: relative;
    height: 20%;
    margin: 1% 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content-1_2_special {
    position: relative;
    height: 22%;
    margin: 1% 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.sub-content-1_2 {
    height: 80%;
    width: 48%;
    display: flex;
    border-style: solid;
    border-color: rgb(188, 188, 192);
    border-width: 1px;
    border-radius: 5px;
    color: #a0b3b0;
    flex-direction: row;
    align-items: center;
    /* margin:0% 0% 0% 2%; */
    justify-content: flex-start;
}

.sub-content-2_2 {

    height: 75%;
    width: 98.5%;
    padding: 0% 1%;
    border-style: solid;
    border-color: #a0b3b0;
    display: flex;
    box-sizing: border-box;
    border-width: 1px;
    border-radius: 5px;
    flex-direction: row;
    align-items: center;
    /* margin:0% 0% 0% 2%; */
    justify-content:space-between;
    box-sizing: border-box;
}

.special_content_2 {
    border-width: 0.01px;
    height: 1e-10px;
    width: 100%;
    border-style: dashed;
    border-color: #a0b3b0;
}

.sub-content-2_2 img {
    height: 80%;
    width: 5%;
    background-color: #13232f;
    /* background-color: black; */
    object-fit: contain;
}

.content-info_2 {
    position: relative;
    height: 15%;
    width: 80%;
    text-align: left;

}

.inp_2 {
    padding: 0% 0% 0% 4%;
    height: 80%;
    box-sizing: border-box;
    width: 96%;
    background-color: #13232f;
    color: #a0b3b0;
    /* border-style: solid; */
    outline: none;
    border: none;
    background: none;
    /* border-radius: 20%; */
    position: relative;

}