*{
    margin:0;
    padding:0;
}
.home_body{
    /* background-color: rgb(0, 0, 0); */
    background-image: linear-gradient(to right, #434343 0%, #13232f 100%);
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home_container{
    color: white;
    background-image: linear-gradient(to right,#13232f  0%,  #434343 100%);

    font-size: 4rem;
    line-height: 6rem;
    word-spacing: 1rem;
    text-align: center;
    font-family: 'Amaranth', sans-serif;
    font-weight: 800;
    width:50vw;
    border:1px dashed white;
    border-radius:20px;
    padding:3rem 2rem;
    /* height:70vh; */
}
.home_btn{
    margin-top:2rem;
}
.home_body a{
    text-decoration: none;
    /* color:black; */
    background-image: linear-gradient(to right,#13232f  0%,  #434343 100%);
    font-size:2rem;
    font-weight:400;
    font-family: 'Ubuntu', sans-serif;
    border:1px solid rgba(210, 194, 153, 1);
    background-color: rgba(210, 194, 153, 1);
    padding:0.5rem 1.5rem;
    border-radius: 32px;
}