* {
    margin: 0%;
    padding: 0%;
}

.Property_Registeration {
    position: absolute;
    height: 100vh;
    width: 100vw;
    
    /* filter: blur(8px); */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blur-background
{
    height: 75vh;
    width: 100vw;
    background-image: url("back-home.jpg");
    background-size: cover;
    /* filter: blur(8px); */
}
.Property-Registeration-div {
    height: 70vh;
    width: 40vw;
    top: 15vh;
    left: 30vw;
    /* opacity: 0.6; */
    background: rgba(95, 93, 93, 0.65);
    backdrop-filter: saturate(180%) blur(10px);

    /* background: transparent; */
    /* background-color: #13232f; */
    position: absolute;
    box-sizing: border-box;
    border-style: solid;
    border-color: rgb(188, 188, 192);
    border-width: 2px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0% 2%;
    /* margin-bottom: 2rem; */
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register_details-Property {
    height: 20%;
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-content-Property {
    position: relative;
    /* height: 34%; */
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3vw;
}

.Div-line-Property {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
}

.Div-line-width-Property {
    border-width: 0.01px;
    height: 1e-10px;
    width: 100%;
    border-style: dashed;
    border-color: #a0b3b0;
}

.Property-registeration-form {
    height: 55%;
    width: 100%;
   
    overflow: hidden;
}
.Property_FirstPage
{
    height: 100%;
    width: 100%;
    top: 0%;
    position: relative;
    /* display: none; */
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    transition: ease-in 0.5s;
    justify-content: space-between;
    /* padding: 10% 0%; */
    box-sizing: border-box;
}
.Property-content-div {
    height: 24%;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 10% 0%; */
    box-sizing: border-box;
}

.Property-content-1 {
    height: 80%;
    width: 49%;
    background-color: rgb(170 210 226 / 23%);
    backdrop-filter: saturate(180%) blur(20px);
    border-style: solid;
    border-color: #a0b3b0;
    overflow: hidden;
    padding: 0rem 1rem;
    box-sizing: border-box;
    border-width: 1px;
    border-radius: 5px;

}

.Property-content-2 {
    height: 80%;
    width: 100%;
    background-color: rgb(170 210 226 / 23%);
    backdrop-filter: saturate(180%) blur(30px);
    padding: 0rem 1rem;
    box-sizing: border-box;
    overflow: hidden;
    border-style: solid;
    border-color: #a0b3b0;
    border-width: 1px;
    border-radius: 5px;
}

.Property-Input {
    height: 80%;
    width: 100%;
    /* background-color: #13232f; */
    
    background: transparent;
    outline: none;
    border: none;
}
.Property-SecondPage
{
  height: 100%;
  width: 100%;
  top: -100%;
  transition: ease-in 0.5s;
  position: relative;
}
.Property-Buttons {
    height: 20%;
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Owner-back-button {
    height: 50%;
    width: 13%;
    /* background-color: #13232f; */
    border-style: solid;
    border-color: #a0b3b0;
    border-width: 1px;
    border-radius: 5rem;
    color: #a0b3b0;
    transition: opacity 0.5s ease-in;
    font-size: 1rem;
}
.Property-submit-button
{
    height: 50%;
    width: 20%;
    background-color: #13232f;
    border-style: solid;
    border-color: #a0b3b0;
    border-width: 1px;
    border-radius: 5rem;
    color: #a0b3b0;
    transition: opacity 0.5s ease-in;
    font-size: 1.5rem;
}
::placeholder
{
    color: rgb(188, 188, 192);
}
.Property-submit-button:hover
{
    color: #13232f;
    background-color:#a0b3b0;
    border-color: #13232f;
}
.Owner-back-button:hover
{
    color: #13232f;
    background-color: #a0b3b0;
    border-color: #13232f;}