*
{
    margin:0;
    padding: 0;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.e-login_1-branch
{
    position: absolute;
    /* margin: 20vh 30vw; */
    /* background-color: #13232f; */
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
    box-sizing: border-box;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #434343 0%, #13232f 100%);
   
}
.login-form_1-branch
{
    height: 65vh;
    width: 42vw;
    /* background-image: url('./Images/back.jpg'); */
    /* background-color: #13232f; */
    background-image: linear-gradient(to right,#13232f  0%,  #434343 100%);

    /* background-color: black; */
    position: relative;
    box-sizing: border-box;
    border-style: solid ;
    border-color: rgb(188, 188, 192);
    border-width: 2px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0% 2%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.back-button_1-branch
{
    position: relative;
    outline: none;
    border: none;
    margin: 0% 3%;
    height: 60%;
    width: 13%;
    font-size: 100%;
    border-style: solid ;
    border-color: rgb(188, 188, 192);
    border-width: 1px;
    color: rgb(188, 188, 192);
    border-radius: 5rem;
    transition: opacity 0.5s ease-in;
    background-color: #13232f;
   
}
.Button-branch
{
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.Buttons1_1-branch
{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.submit-button_1-branch
{
    width: 18%;
    height: 60%;
    background-color: #13232f;
    outline: none;
    font-size: 120%;
    border-style: solid ;
    transition: opacity 0.5s ease-in;
    border-color: rgb(188, 188, 192);
    border-width: 1px;
    color: rgb(188, 188, 192);
    border-radius: 5rem;
    /* animation: ease-in 1s; */
}
::placeholder_1
{
    color: rgb(188, 188, 192);
}
.submit-button_1-branch:hover
{
    color: #13232f;
    background-color: rgb(188, 188, 192);
    border-color: #13232f;
}
.back-button_1-branch:hover
{
    color: #13232f;
    background-color: rgb(188, 188, 192);
    border-color: #13232f;
}
.back-button_1-branch img{
 object-fit: contain;
 height: 80%;
 width:80%;
}
.reg-con_1-branch
{
    height: 100%;
    width: 100%;
    z-index: 1;
    /* left: 0%; */
    top: 0%;
    opacity: 1;
    position: relative;
    /* padding: 0% 10%; */
    box-sizing: border-box;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-in 0.5s;
}
.main-container_1-branch
{
    height: 80%;
    width:100%
}
.register_1-branch
{
    text-align: center;
    display: flex;
    font-size: 250%;
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60%;
    width: 100%;
}
.content-1_1-branch 
{
    position: relative;
    height: 30%;
    margin: 1% 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.sub-content-1_1-branch 
{
    height: 100%;
    width: 48%;
    display: flex;
    border-style: solid ;
    padding: 0% 1%;
    border-color: rgb(188, 188, 192);
    border-width: 1px;
    border-radius: 5px;
    color:  #a0b3b0;
    flex-direction: row;
    align-items: center;
    /* margin:0% 0% 0% 2%; */
    justify-content: flex-start;
    box-sizing: border-box;
}
.sub-content-2_1-branch
{
    
        height: 100%;
        width: 98.5%;
        padding: 0% 1%;
        border-style: solid ;
    border-color: #a0b3b0;
        display: flex;
        box-sizing: border-box;
        border-width: 1px;
        border-radius: 5px;
        flex-direction: row;
        align-items: center;
        /* margin:0% 0% 0% 2%; */
        justify-content: space-between;
        box-sizing: border-box;
}
.content-info_1-branch
{
    position: relative;
   height: 15%;
   width: 80%;
   text-align: left;
   
}
.inp_1-branch{
    padding: 0% ;
    /* margin-left:1%; */
    height:80%;
    margin: 1vw;
    box-sizing: border-box;
    width: 95%;
    /* background-color: #13232f; */
    background: none;
    color:  #a0b3b0;
    /* border-style: solid; */
    outline: none;
    border: none;
    /* border-radius: 20%; */
    position: relative;
   
}
.inp_1-branch-1{
    padding: 0% 0% 0% 4%;
    /* margin-left:1%; */
    height:80%;
    margin: 0.8vw;
    box-sizing: border-box;
    width: 80%;
    /* background-color: #13232f; */
    background: none;
    color:  #a0b3b0;
    /* border-style: solid; */
    outline: none;
    border: none;
    /* border-radius: 20%; */
    position: relative;
   
}
/* input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
} */
.select_1-branch {
    padding: 0% 0% 0% 3%;
    height:80%;
    box-sizing: border-box;
    width: 100%;
    color:  #a0b3b0;
    background-color: #13232f;
    /* background-color: black; */
    outline: none;
    border: none;
    position: relative;
}